.footer {
  //   margin-top: 50px;
  background-color: #8f9d61;
  padding: 50px;
  &__wrapper {
    display: flex;
    justify-content: space-around;
  }

  &__column {
  }

  &__title {
    font-family: "Geometria";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: #3d351d;
    white-space: nowrap;
    margin-bottom: 39px;
  }

  &__list-item {
    margin-bottom: 16px;
    list-style-type: none;
    font-family: "Geometria";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #262626;
    text-decoration: none;
  }
  &__list-item:hover {
    text-decoration: underline;
  }
}
