.swiper-text {
  background-color: #8f9d61;
  height: 48px;
}
.swiper-slide__text{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Geometria";
  font-size: 20px;
  line-height: 160%;
  cursor: default;
}
